
<div class="container mt-4">
 
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
       @for (item of ArrayofStudents; track item)  {
       <tr>
        <td>{{item.studentId}} </td>
        <td>{{item.studentName}} </td>
        <td>{{item.studentEmail}} </td>
        <td>{{item.studentPhone}} </td>
       </tr>
        
    }

         
        
     
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="FetchData()">FetchData</button>

</div>