<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">MyLogo</a>
      
      <!-- Toggle Button for Mobile View -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link " routerLink="r1">R1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="r2"> Template form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="r3">R3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="r4">Reactive form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="DropDown">DropDown</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="InputAnddOutput">InputAndOutput</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="DataTable">DataTable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="CompanyDetail">company Detail</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Company2">company2 </a>
          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  